body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(194, 194, 194);
  height: 100vh;
  width:100vw;

}
.container-left {
  
  color: #1b1e2f;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid white;
  height: 750px;
  width: 550px;
}
.forgot{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sign-in button{
  border: none;
  border-radius: 5px;
  background-color: #1b1e2f;
  color: white;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
.sign-in button:hover{
background-color: #1e2961;

}

.input-border{
  border-radius: 5px;
  background-color: white;
  border: 2px solid grey;
  padding: 10px;
  width:94%;
  color:gray;

}
.input-password{
  border-radius: 5px;
  background-color: white;
  border: 2px solid grey;
  padding: 10px;
  width:94%;
  color:#1b1e2f;
}
.grays{
  
  font-size: 14px;
  color: grey;
}
label{
  font-weight: bold;
  font-size: 12px;
}

.container-right {
  display: flex;
  align-items: flex-end;
  border: 1px solid white;
  height: 750px;
  width: 550px;
  background-image: url(../img/mujer.jpg);
  background-size: cover;
}
.paragraph{
  text-align: center;
  font-size: 12px;
  color:grey;
  text-decoration: none;

}
.paragraph a{
  color:#1b1e2f;
  text-decoration: none;
}


.div-right {
  margin: 50px;
  backdrop-filter: blur(20px);
  opacity: 90%;
  color: white;
  padding: 20px;
}

#left-buttom {
  background-color: transparent;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  color: white;
  border: 1px solid white;
}

#right-buttom {
  background-color: transparent;
  border: 1px solid white;
  margin-left: 15px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  color: white;
  margin-right: 15px;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
